# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
venv/
.env/

# Environment Variables
.env

# VS Code
.vscode/

# Logs
*.log

# macOS
.DS_Store

# Windows
Thumbs.db

# Python Testing
.pytest_cache/

# Distribution
build/
dist/

# IDE
.idea/

# Coverage
.coverage
htmlcov/